.cards-wrapper {
    padding: 0; 
    margin: 0; 
    list-style: none;
    margin-bottom: -1rem;

    @media (min-width: 550px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.card {
    background: #fff;
    padding: 0.25rem;
    margin-bottom: 1.25rem;
    border-radius: 4px;
    transition: box-shadow 0.25s ease-out;
    box-shadow: 0 0 0 0 transparent;

    a {
        display: block;
    }

    &:hover {
        box-shadow: 0 5px 13px 0 rgba(#000, 0.15);
    }

    @media (min-width: 500px) {
        flex: 0 0 49%;

        &:not(:nth-child(2n)) {
            margin-right: 2%;
        }
    }
}

.card__title {
    margin: 0;
    font-weight: 400;
    color: $color__gray !important;
}

.card__thumb {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

.card__meta {
    position: relative;
    padding: 0 0.5rem 0.5rem;
}

.card__level {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 1rem;
    color: #fff;
    background: $color__salmon;
    padding: 4px 4px 4px 14px;
    margin-left: -0.75rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}